# Allow directory index and serve index.html for Dewaweb LiteSpeed
DirectoryIndex index.html

<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
</IfModule>

# Ensure public read permissions
Options -Indexes +FollowSymLinks
